<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag('/admin/stylesheets/screen',
                            '/admin/stylesheets/application', :cache => 'admin_login') %>
  </head>
  <body id="account">
    <div id="wrapper">
      <div id="box">
        <h1 class="logo"><%= Typus.admin_title %></h1>
        <%= display_flash_message %>
        <%= yield %>
      </div>
      <%= render('/admin/helpers/footer') %>
    </div>
  </body>
</html>